body {
  margin: auto;
  user-select: none;
  background-image: url('images/OrangeGradiant.jpg');
  background-size: 2000px;
  background-repeat: no-repeat;
}

.mainNavDiv {
  position: sticky;
   top: 0;
   z-index: 100;
  padding-top: 10px;
  padding-bottom: 60px;
  background-color: #23252b;
  border-bottom: 0.09rem solid #000;
}

.navLogo {
  width: 145px;
  height: 27px;
}

.navUl {
  float: left;
  list-style-type: none;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.navImgDiv {
  float: left;
  padding: 10px;
  text-align: center;
}

.navFormDiv {
  float: right;
  padding: 5px;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
}

.navLi {
  display: inline;
  padding: 10px;
}

.aNav:link {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  color: #FFF;
  font-size: medium;
  font-weight: 300;
  text-decoration: none;
}

.aNav:visited {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  color: #FFF;
  font-size: medium;
  font-weight: 300;
  text-decoration: none;
}

.aNav:hover {
  box-sizing: border-box;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  color: #f47521;
  font-size: medium;
  font-weight: 300;
  text-decoration: none;
}

.profileImage {
  display: inline;
  float: right;
  padding-right: 10px;
  z-index: 9;
  width: 50px;
  height: 50px;
  filter: brightness(85%)
}

.profileImage:hover {
  filter: brightness(100%);
}


.dropDown {
  margin-top: 10px;
  margin-left: 1250px;
  float: right;
  top: 60px;
  z-index: 9;
  width: 200px;
  height: 158px;
  position: fixed;
  background-color: #23252b;
  box-shadow: 10px 0 5px -2px #35383f;
  border: 0.09rem solid #000;
}

.dropdownLi {
  list-style-type: none;
  padding: 10px;
  padding-left: 20px;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  font-size: medium;
  font-weight: 300;
  color: #FFF;
  border-bottom: 0.09rem solid #000;
}

.dropdownLi:hover {
  color: #f47521;
}

.loginGreeting {
  display: inline;
  margin-left: 525px;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  color: #FFF;
  font-size: small;
  font-weight: 700;
}

.startPageMainDiv {
  margin: auto;
}

.float-container {
  margin: auto;
  padding: 30px;
}

.float-child1 {
  float: left;
  padding-top: 75px;
  padding-left: 105px;
  width: 50%;
  color: #FFF;
}  

.imgWrapper {
  float: right;
}

.startLi {
  list-style-type: none;
  display: inline;
}

.startPageHeader {
  padding: 10px;
  padding-bottom: 20px;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  font-size: 50px;
  border-bottom: 0.09rem solid #f47521;
  text-shadow: 2px 2px #d46c27;
}

.Hime {
  padding-top: 30px;
  padding-left: 30px;
  width: 550px;
  height: 550px;
}

.startPageP {
  padding: 5px;
  padding-bottom: 10px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: 250;
}

.bold {
  font-weight: 700;
}

.startPageButton {
  margin: auto;
  margin-left:5px;
  padding: 20px;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #FFF;
  background-color: #23252b;
  border: 0.09rem solid #23252b;
}

.startPageButton:hover {
  color:#23252b;
  background-color: #FFF;
  border: 0.09rem solid #FFF;
  box-shadow: 3px 3px #23252b;
}

.submitButtonDiv {
  padding: 10px;
}

.popularNowText {
  padding-bottom: 20px;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  color: #FFF;
  border-bottom: 0.09rem solid #f47521;
}

.popularNowUl {
  margin:auto;
  float: left;
  list-style-type: none;
  width: 1300px;
  height: 280px;
}

.popularNowLi {
  display: inline-block;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.popularNowMore {
  display: inline-block;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.seeMore {
  text-decoration: none;
}

.logoImg {
  padding-bottom: 60px;
  width: 70px;
  height: 38px;
}

.popularNowImg {
  margin: auto;
  width: 290px;
  height: 175px;
  filter: brightness(85%)
}

.popularNowImg:hover {
  filter: brightness(100%);
}

.popularNowAnime {
  padding: 5px;
  text-align:center;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #FFF;
  font-weight: 700;
}

.quizMainDiv {
  padding: 50px 0;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  text-align: center;
  background-size: 3000px;
  background-repeat: no-repeat;
}

.quizScroll {
  margin: auto;
  padding: 5px;
  position: sticky;
  width: 1500px;
  height: 800px;
  line-height: 3em;
  overflow: scroll;
}

.quizScrollBlur {
  margin: auto;
  padding: 5px;
  position: sticky;
  width: 1500px;
  height: 800px;
  line-height: 3em;
  overflow: scroll;
  filter: blur(3px);
}

.navBlur {
  filter: blur(3px);
}

.questionContainer {
  margin: auto;
  text-align: center;
  width: 700px;
  height: 460px;
  border-radius: 12px;
  background-color: #23252b;
}

.questionContainer:hover {
  box-shadow: 3px 3px #9b4a14;
}

.quizQuestion {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  color: #FFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 0.09rem solid #f47521;
}

.quizAnswer {
  padding-left: 5px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: medium;
  font-weight: 700;
  color: #FFF;
  filter: brightness(70%);
}

.answerLi {
  list-style-type: none;
  padding-bottom: 10px;
}

.answerCheck {
  vertical-align: middle;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 1px solid #f47521;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  filter: brightness(70%);
} 

.answerCheck:hover + .quizAnswer {
  filter: brightness(100%)
}

.answerCheck:hover {
  border: 2px solid #f47521;
  filter: brightness(100%);
}

.answerCheck:checked + .quizAnswer {
  filter: brightness(100%)
}

.answerCheck:checked {
  background-color: #f47521;
  border: 1px solid #f47521;
  filter: brightness(100%)
}

.submitQuizButton {
  z-index: 9;
  position: fixed;
  top: 200px;
  padding: 60px;
  margin: auto;
  margin-left: -170px;
  width: 420px;
  text-align: center;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  font-size: medium;
  font-weight: 600;
  color: #FFF;
  background-color: #000;
  border: 0.09rem solid #000;
  border-radius: 50%;
}

.submitQuizButton:hover {
  animation: jitter 200ms linear infinite; display:inline-block;
}

@keyframes jitter { 
  50% {transform:skewY(0.7deg) skewX(-0.7deg) scale(1.006);};
}

.chibiHimeImg {
  display: flex;
  padding: 20px;
  padding-left: 70px;
  padding-top: 25px;
  width: 175px;
  height: 200px;
  opacity: 0.9;
}

.animeResultMainDiv {
  margin: auto;
  text-align: center;
  color: #FFF;
  background-color: #000;
}

.animeResultContainer {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 800px;
  height: 950px;
  text-align: center;
  background-color: #000;
}

.animeHeader {
  padding-bottom: 20px;
  border-bottom: 0.09rem solid #f47521;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
}

.animeImg {
  margin: auto;
  padding-top: 20px;
  width: 800px;
  height: 450px;
}

.animeP {
  padding: 10px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
}


.aAnime:link {
  text-decoration: none;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  color: #FFF;
  font-size: medium;
  font-weight: 700;
}

.aAnime:visited {
  text-decoration: none;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  color: #FFF;
  font-size: medium;
  font-weight: 700;
}

.aAnime:hover {
  text-decoration: none;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  font-size: medium;
  font-weight: 700;
  color: #f47521;
}

.addWatchListButton {
  margin: auto;
  margin-right: 5px;
  padding: 10px;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  font-size: small;
  font-weight: 600;
  color: #f47521;
  background-color: #000;
  border: 0.09rem solid #f47521;
  filter: brightness(90%)
}

.addWatchListButton:hover {
  filter:brightness(100%);
}

.startWatchingButton {
  margin: auto;
  padding: 10px;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  font-size: small;
  font-weight: 600;
  color:#000;
  background-color: #f47521;
  border: 0.09rem solid #f47521;
  filter: brightness(90%)
}

.startWatchingButton:hover {
  filter: brightness(100%);
}

.animeLi {
  list-style-type: none;
  padding: 10px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.animeLi2 {
  list-style-type: none;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.watchListImg {
  margin: auto;
  padding: 5px;
  width: 350px;
  height: 200px;
  display: block;
  filter: brightness(80%)
}

.watchListImg:hover {
  box-shadow: 0 8px 16px 0 #17191d;
  filter: brightness(100%);
}

.watchListHeader {
  font-family: Nutmeg, sans-serif;
  font-size: 50px;
}

.watchListP {
  padding: 5px;
  padding-bottom: 20px;
  width: 1300px;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  font-size: 18px;
  border-bottom: 0.09rem solid #f47521;
}

.watchListStart {
  padding-left: 5px;
  padding-bottom: 10px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #FFF;
  font-size: small;
  opacity: 0.5;
}

.watchListAnime {
  padding: 5px;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  color: #FFF;
}

.watchListButton {
  margin: auto;
  margin-left: 5px;
  padding: 10px;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  font-size: small;
  font-weight: 600;
  color: #f47521;
  background-color: #000;
  border: 0.09rem solid #f47521;
  filter: brightness(90%)
}

.watchListButton:hover {
  filter: brightness(100%);
}

.watchListContainer {
  margin: auto;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 800px;
  overflow: scroll;
  background-color: #000;
  color: #FFF;
}

.watchListAnimeDiv {
  padding: 20px;
  display: inline-block;
}

.animeUl {
  list-style-type: none;
  float: left;
}

.animeLi {
  display: inline;
}

.watchListSearch {
  padding: 5px;
  display: inline;
  float: right;
}

.watchListInput {
  padding: 8px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: rgb(97, 97, 97);
  font-weight: 400;
  background-color: #000;
  border: 0.09rem solid rgb(97, 97, 97);
}

::placeholder {
  opacity: 1.0;
  color: rgb(97, 97, 97);
}