/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  margin: auto;
  user-select: none;
  background-image:url('images/OrangeGradiant.jpg');
  background-size: 2000px;
  background-repeat: no-repeat;
}

.mainNavDiv {
  background-color: #23252b;
  padding-top: 10px;
  padding-bottom: 60px;
  border-bottom: 0.09rem solid #000;
  position: sticky;
   top: 0;
   z-index: 100;
}

.navLogo {
  width: 135px;
  height: 27px;
}

.navUl {
  font-family: "Helvetica Neue", Arial, sans-serif;
  list-style-type: none;
  float: left;
}

.navImgDiv {
  padding: 10px;
  text-align: center;
  float: left;
}

.navFormDiv {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  padding: 5px;
  float: right;
}

.navLi {
  display: inline;
  padding: 10px;
}

.aNav:link {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  color: #FFF;
  font-size: small;
  font-weight: 700;
  text-decoration: none;
}

.aNav:visited {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  color: #FFF;
  font-size: small;
  font-weight: 700;
  text-decoration: none;
}

.aNav:hover {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  font-size: small;
  font-weight: 700;
  text-decoration: none;
  color: #f47521;
}

.profileImage {
  display: inline;
  float: right;
  padding: 5px;
  padding-right:20px;
  width:50px;
  height:50px;
}

.loginGreeting {
  float:right;
  display:inline;
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  color: #FFF;
  font-size: small;
  font-weight: 700;
}

.startPageMainDiv {
  margin: auto;
}

.float-container {
  margin:auto;
  padding: 50px;
}

.float-child1 {
  color: #FFF;
  width: 50%;
  float: left;
  padding-top: 75px;
  padding-left: 100px;
}  

.imgWrapper {
  float:right;
}

.startLi {
  display: inline;
  list-style-type: none;
}

.startPageHeader {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  font-size: 50px;
  padding: 10px;
  padding-bottom:20px;
  border-bottom: 0.09rem solid #f47521;
}

.Hime {
  padding-top: 50px;
  width: 525px;
  height: 525px;  
}

.startPageP {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size:18px;
}

.bold {
  font-weight: 700;
}

.startPageButton {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  margin: auto;
  font-size: 15px;
  font-weight: 600;
  color:#FFF;
  background-color:#23252b;
  border: 0.09rem solid #23252b;
  border-radius: 12px;
  padding: 20px;
}

.startPageButton:hover {
  color:#23252b;
  background-color: #FFF;
  border: 0.09rem solid #FFF;
  box-shadow: 3px 3px #23252b, 1em 0 .8em #f47521;
}

.submitButtonDiv {
  padding: 10px;
}

.popularNowText {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  color:#FFF;
  border-bottom: 0.09rem solid #f47521;
  padding:10px;
}

.popularNowUl {
  margin:auto;
  list-style-type: none;
  float: left;
  width: 1300px;
  height: 280px;
}

.popularNowLi {
  display: inline-block;
  padding-top: 20px;
  padding-right:30px;
  padding-bottom:20px;
}

.popularNowImg {
  margin: auto;
  width: 290px;
  height: 175px;
  filter:brightness(80%)
}

.popularNowImg:hover {
  filter:brightness(100%);
}

.popularNowAnime {
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align:center;
  color:#FFF;
  padding:5px;
  font-weight:700;
}

.quizMainDiv {
  padding: 50px 0;
  text-align: center;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  background-size: 3000px;
  background-repeat: no-repeat;
}

.quizScroll {
  margin:auto;
  width:1500px;
  height: 800px;
  line-height:3em;
  overflow:scroll;
  padding:5px;
}

.questionContainer {
  background-color: #FFF;
  text-align: center;
  width: 600px;
  padding-bottom: 20px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 #964300;
}

.questionContainer:hover {
  box-shadow: 3px 3px #23252b, 1em 0 .8em #964300;
}

.quizQuestion {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  color: #FFF;
  background-color: #23252b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
}

.quizAnswer {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: medium;
  font-weight: 700;
  padding:5px;
  color: #23252b;
  background-color:#FFF;
}

.answerLi {
  list-style-type: none;
  padding: 3px;
}

.answerCheck {
  width: 1em;
  height: 1em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #23252b;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
} 

.answerCheck:hover {
  border: 2px solid #23252b;
}

.answerCheck:checked {
    background-color: #23252b;
}

.submitQuizButton {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  text-align: center;
  z-index: 9;
  position:fixed;
  top: 250px;
  margin: auto;
  margin-left:-260px;
  font-size: large;
  font-weight: 600;
  color:#FFF;
  background-color:#23252b;
  border: 0.09rem solid #23252b;
  border-radius: 10px;
  padding: 80px;
}

.submitQuizButton:hover {
  color:#FFF;
  background-color:#23252b;
  border: 0.09rem solid #23252b;
  box-shadow: 0 10px 6px -6px #777;
  animation: jitter 200ms linear infinite; display:inline-block;
}

@keyframes jitter { 
  50% {transform:skewY(0.7deg) skewX(-0.7deg) scale(1.006);};
}

.chibiHimeImg {
  width: 175px;
  height: 200px;
  padding:20px;
  padding-left: 110px;
  display:flex;
}

.questionContainerBlurred {
  backdrop-filter: blur(8px);
}

.animeResultMainDiv {
  margin:auto;
  text-align: center;
  color: #FFF;
  background-color:#000;
}

.animeResultContainer {
  background-color: #000;
  text-align: center;
  width: 800px;
  height: 780px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}

.animeHeader {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  padding-bottom: 20px;
  border-bottom: 0.09rem solid rgb(48, 48, 48);
}

.animeImg {
  margin: auto;
  padding-top:20px;
  width: 800px;
  height: 450px;
}

.animeP {
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding:10px;
}


.aAnime:link {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #FFF;
  font-size: medium;
  font-weight: 700;
  text-decoration: none;
}

.aAnime:visited {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #FFF;
  font-size: medium;
  font-weight: 700;
  text-decoration: none;
}

.aAnime:hover {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: medium;
  font-weight: 700;
  text-decoration: none;
  color: #f47521;
}

.addWatchListButton {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  margin: auto;
  font-size: small;
  font-weight: 600;
  color:#f47521;
  background-color:#000;
  border: 0.09rem solid #f47521;
  border-radius: 2.5px;
  padding: 10px;
  margin-right: 5px;
  filter:brightness(80%)
}

.addWatchListButton:hover {
  filter:brightness(100%);
}

.startWatchingButton {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  margin: auto;
  font-size: small;
  font-weight: 600;
  color:#000;
  background-color:#f47521;
  border: 0.09rem solid #f47521;
  border-radius:2.5px;
  padding: 10px;
  filter:brightness(80%)
}

.startWatchingButton:hover {
  filter:brightness(100%);
}

.animeLi {
  font-family: "Helvetica Neue", Arial, sans-serif;
  list-style-type: none;
  padding: 10px;
}

.animeLi2 {
  list-style-type: none;
  padding: 10px;
}

.watchListImg {
  margin: auto;
  padding: 5px;
  width: 350px;
  height: 200px;
  display: block;
  filter:brightness(70%)
}

.watchListImg:hover {
  filter:brightness(100%);
  box-shadow: 0 8px 16px 0 #17191d;
}

.watchListHeader {
  font-family: Nutmeg, sans-serif;
  font-size: 50px;
}

.watchListP {
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding:5px;
  padding-bottom: 40px;
  font-size:18px;
  border-bottom: 0.09rem solid rgb(48, 48, 48);
  width: 1000px;
}

.watchListStart {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color:#FFF;
  font-size: small;
  opacity: 0.5;
  padding-left:5px;
  padding-bottom: 10px;
}

.watchListAnime {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  color:#FFF;
  padding:5px;
}

.watchListButton {
  font-family: Lato,Helvetica Neue,helvetica,sans-serif;
  margin: auto;
  margin-left:5px;
  font-size: small;
  font-weight: 600;
  color:#f47521;
  background-color:#000;
  border: 0.09rem solid #f47521;
  border-radius: 5px;
  padding: 10px;
  filter:brightness(80%)
}

.watchListButton:hover {
  filter:brightness(100%);
}

.watchListContainer {
  background-color: #000;
  color:#FFF;
  margin: auto;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 800px;
  overflow: scroll;
}

.watchListAnimeDiv {
  padding: 20px;
  display:inline-block;
}

.animeUl {
  list-style-type: none;
  float: left;
}

.animeLi {
  display: inline;
}

.watchListSearch {
  display: inline;
  float: right;
  padding: 5px;
}

.watchListInput {
  padding: 8px;
  color:rgb(97, 97, 97);
  font-weight: 400;
  background-color: #000;
  border: 0.09rem solid rgb(48, 48, 48);
}

::placeholder {
  opacity: 1.0;
  color:rgb(48, 48, 48);
}